{% extends 'base.html.twig' %}

{% block title %}AntoineFactory | Edition Mot de passe{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link href="{{asset('CSS/default.css')}}" rel="stylesheet"/>
    <link href="{{asset('CSS/admin.css')}}" rel="stylesheet"/>
{% endblock %}

{% block header %}
    {% include "partials/_header.html.twig" %}
    <div class="actions_supp">
        <a class="act_supp" href="javascript:history.back()" id="back">&#x276e; Retour</a>
    </div>
{% endblock %}
    
{% block body %}
     <section id="content">
        <div class="formulaire">
            <h1 class="center">Modifier mon mot de passe</h1>

            {{form_start(form)}}

                <div class="input_container" id="plainPassword">
                    {{ form_label(form.plainPassword) }}
                    <div class="input_row passwordinput">
                        {{ form_widget(form.plainPassword) }}
                        <img class="bouton" jaune src="../../../assets/icons/show.png"></img>
                    </div>
                    <div id="" class="">
                        {{ form_errors(form.plainPassword) }}
                    </div>     
                </div>       

                <div class="input_container" id="mdp1">
                    {{ form_label(form.newPlainPassword.first) }}
                    <div class="input_row passwordinput">
                        {{ form_widget(form.newPlainPassword.first) }}
                        <img class="bouton" jaune src="../../../assets/icons/show.png"></img>
                    </div>
                    <div class="">
                        {{ form_errors(form.newPlainPassword.first) }}
                    </div>     
                </div>

                <div class="input_container" id="mdp2">
                    {{ form_label(form.newPlainPassword.second) }}
                    <div class="input_row passwordinput">
                        {{ form_widget(form.newPlainPassword.second) }}
                        <img class="bouton" jaune src="../../../assets/icons/show.png"></img>
                    </div>
                    <div class="">
                        {{ form_errors(form.newPlainPassword.second) }}
                    </div>     
                </div>   
            
            <div class="bouton">
                {{ form_row(form.submit) }}
            </div>

            {{form_end(form)}}
        </div>
    </section>
{% endblock %}